
/*Alternate color #1e262c*/
body{
    background-color: #f8f8fa;
    padding:0rem;
    margin:0rem;
}

body::-webkit-scrollbar{
    width: 0.35rem;
}

body::-webkit-scrollbar-track{
    background-color: black;
}


.grid{
    display: grid;
    gap:10px;
    padding:0.25rem 5rem 5rem 5rem;
    margin-left: 6rem;
    grid-template-columns: auto;
    
}

.grid > div{
    margin-left: 1rem;
    text-align: center;
    padding: 10px 0;
    font-size: 50px;
    border: 0px black solid;
}


.grid > div:nth-child(1) {
    grid-column: span 5;
    height:15vh;
    font-family: Impact, Haettenschweiler;
    font-size: 2em;
    letter-spacing: -0.1rem;
    color: black;
  }

  .grid > div:nth-child(2) {
    grid-column: span 5;
    height:30vh;
  }

  .grid > div:nth-child(3) {
    margin-top:1rem;
    grid-column: span 5;
    height:40vh;
  }
  .grid > div:nth-child(4) {
    margin-top:1rem;
    grid-column: span 5;
    height:35vh;
  }


.navbar{
    
    position: fixed;
    height: 100vh;
    width: 10rem;
    background-color: #282936;

    -moz-box-shadow:    3px 0 5px 0 #555;
    -webkit-box-shadow: 3px 0 5px 0 #555;
    box-shadow:         3px 0 5px 0 #555;
}

.navbar > ul{
    padding: 1rem;
    display: flex;
    gap:5px;
    list-style: none;
    flex-direction: column;
    align-self: center;
}

.navbar > ul>li{
    margin:1.5rem 0rem 1.5rem 0;
    width:100%;
    font-family: Impact, Haettenschweiler;
    color: white;
}

.brk-btn{
    padding: 1.5em 2em;
    word-spacing: 100vw; 
}
.brk-btn:focus{
    border-color:lightgreen;
}

.active_button{
    border-color:lightgreen;
}

#animation-canvas{
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*Taken from loading io*/
.lds-ring {
    top:20%;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .hide{
    display: none;
  }

  .visible{
    transition: opacity 2s;
    opacity: 0;
  }

  .show{
    opacity: 1;
    visibility: visible;
  }
  
  .canvas-div-hidden{

  }

  #canvas-div{
    border-radius: 8px;
    background-color: white;
    box-shadow:  0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 6px 8px rgba(0,0,0,0.11),
    0 8px 16px rgba(0,0,0,0.11);
    -webkit-animation: slideDown 3s forwards; /* Safari 4+ */
    -moz-animation:    slideDown 3s forwards; /* Fx 5+ */
    -o-animation:      slideDown 3s forwards; /* Opera 12+ */
    animation:         slideDown 3s forwards; /* IE 10+, Fx 29+ */
  }



  #graph-div{
    border-radius: 8px;
    background-color: white;
    box-shadow:  0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 6px 8px rgba(0,0,0,0.11),
    0 8px 16px rgba(0,0,0,0.11);
  }

  #draw_area{
    width:100%;
    height:100%;
  }

  #code-div{
    border-radius: 8px;
    background-color: white;
    box-shadow:  0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 6px 8px rgba(0,0,0,0.11),
    0 8px 16px rgba(0,0,0,0.11);
  }
  .responsive-logo-embed{
    width:100%;
    height:100%;
  }

  .svg_bar{
    cursor: pointer;
  }

  .svg_bar:hover {
      fill: red;
    }

    @keyframes slideDown{
      from{
        height: 30vh;
      }
      to{
        height:50vh;
      }
    }
